.button {
	height: 45px;
	padding: 0 15px;
	color: var(--primary-color);
	transition: background-color 0.2s;
	cursor: pointer;

	& > svg {
		fill: var(--primary-color);
	}

	&:disabled {
		border-color: var(--disabled-border-color);
		color: rgba(var(--primary-color), 0.3);
		cursor: default;

		& svg {
			fill: var(--primary-color);
			fill-opacity: 0.3;
		}
	}

	&__icons-container {
		display: flex;
		align-items: center;
	}

	&__content--overflow-hidden {
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	&--primary {
		border: 1px solid var(--primary-color);
		background-color: var(--secondary-color);
		width: 100%;
		border-radius: 8px;
		font-size: 14px;

		& svg {
			fill: var(--primary-color);
		}
	}

	&--icon {
		display: flex;
		align-items: center;
		justify-content: center;
		background: transparent;
		height: 100%;
		border: 0;
		margin: 0;
		padding: 0;

		.button__content {
			display: flex;
			align-items: center;
		}
	}

	$pagination-left-border-radius: 6px 0 0 6px;
	$pagination-right-border-radius: 0 6px 6px 0;

	&--pagination {
		width: 100%;
		padding: 0;
		font-size: 18px;
		background-color: var(--secondary-color);
		color: var(--primary-color);
		border: 1px solid var(--primary-color);
		border-right: 0;

		&:hover:enabled:not(.button--pagination-current) {
			background-color: $pagination-hover-color;
			color: var(--secondary-color);

			& svg {
				fill: var(--secondary-color);
			}
		}

		& svg {
			fill: var(--primary-color);
		}
	}

	&--pagination-right {
		border-radius: $pagination-right-border-radius;
		border-right: 1px solid var(--primary-color);
	}

	&--pagination-left {
		border-radius: $pagination-left-border-radius;
	}

	&--pagination-current {
		background-color: var(--primary-color);
		color: var(--secondary-color);
		cursor: default;
	}

	&--paginaton-last {
		border-right: 2px solid var(--primary-color);
	}

	&__text-align {
		&--left {
			text-align: left;
		}
	}
}
