$select-right-padding: 13px;
$select-icon-padding: 5px;
$select-icon-size: 10px;

.select {
	position: relative;
	width: 100%;
	height: 45px;

	&__button {
		padding-right: calc(
			#{$select-right-padding} + #{$select-icon-padding} * 3 + #{$select-icon-size}
		);
		transition: border-radius 0s;

		&--active {
			border-radius: 8px 8px 0 0;
			border-bottom-color: var(--disabled-border-color);
		}

		&--has-value {
			padding-right: calc(
				#{$select-right-padding} + #{$select-icon-padding} * 4 + #{$select-icon-size} *
					2
			);
		}

		&--separator-off {
			border-bottom: 0;
		}
	}

	&__icons {
		position: absolute;
		top: 50%;
		right: 18px;
		transform: translateY(-50%);
		display: flex;
		align-items: center;
		height: 50%;
	}

	&__icon-button {
		padding: $select-icon-padding;
	}

	&__icon {
		fill: rgba(var(--primary-color), 0.3);
		fill-opacity: 0.3;
	}

	&__arrow-icon {
		fill: rgba(var(--primary-color), 0.3);
		transition: 0.2s;

		&--active {
			transition: 0.2s;
			transform: rotate(180deg);
		}
	}

	&__dropdown {
		position: absolute;
		max-height: 0;
		width: 100%;
		overflow: hidden;
		background-color: var(--secondary-color);
		z-index: $modal-z-index;

		&--active {
			max-height: 300px;
			border: 1px solid var(--primary-color);
			border-top: none;
			border-radius: 0 0 8px 8px;
		}
	}

	&__options {
		position: relative;
		width: 100%;
		max-height: inherit;
		overflow-y: overlay;
		overflow-x: hidden;
		list-style: none;

		&::-webkit-scrollbar {
			width: 12px;
		}

		&::-webkit-scrollbar-thumb {
			background-color: $scrollbar-color;
			border-radius: 10px;
		}
	}

	&__option-button {
		width: 100%;
		padding-left: 30px;
		border: none;
		font-size: 16px;
		font-weight: bold;
		color: var(--primary-color);
		background-color: var(--secondary-color);
		float: left;

		&:hover {
			background-color: var(--primary-color);
			color: var(--secondary-color);
		}

		&:focus {
			background-color: var(--primary-color);
			color: var(--secondary-color);
		}
	}

	&__no-options {
		width: 100%;
		height: 100%;
		padding: 8px;
		background-color: var(--secondary-color);
		color: var(--primary-color);
	}

	&__children-container{
		padding: 22px;
	}
}
