.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 35px;

    @include media-tablet-max{
        margin-bottom: 25px;
    }

    &__logo{
        stroke: var(--logo-color);
    }

    &__theme-icon{
        fill: var(--primary-color);
    }
}