$primary-color: #000;
$secondary-color: #fff;
$white-color: #fff;
$black-color: #000;
$gray-color: rgba(#fff, 0.3);
$disabled-color: rgba(#000, 0.3);
$pagination-hover-color: #ededed;
$scrollbar-color: #7b7b7b;
$input-background-color: #efefef;
$input-placeholder-color: gba(#000, 0.3);

$modal-z-index: 101;

:root {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--hover-color: #ededed;
}
