$primary-color: #000;
$secondary-color: #fff;
$white-color: #fff;
$black-color: #000;
$disabled-color: rgba(#000, 0.3);
$pagination-hover-color: #ededed;

:root {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
}
