$primary-color: #000;
$secondary-color: #fff;
$white-color: #fff;
$black-color: #000;
$gray-color: rgba(#fff, 0.3);
$disabled-color: rgba(#000, 0.3);
$pagination-hover-color: #ededed;
$scrollbar-color: #7b7b7b;
$input-background-color: #efefef;
$input-placeholder-color: rgba(#000, 0.3);
$card-info-color: rgba(#fff, 0.75);

$modal-z-index: 101;

$breakpoints: (
	'mobile': 320px,
	'tablet': 768px,
	'tablet-lg': 1024px,
	'desktop': 1366px,
);

html[data-theme='light'] {
	--primary-color: #{$primary-color};
	--secondary-color: #{$secondary-color};
	--hover-color: #ededed;
	--logo-color: #4c4c4c;
	--disabled-border-color: #b3b3b3;
	--placeholder-color: #b3b3b3;
	--date-picker-input-color: #efefef;
	--disabled-button-text-color: #b3b3b3;
}

html[data-theme='dark'] {
	--primary-color: #{$secondary-color};
	--secondary-color: #{$primary-color};
	--hover-color: #ededed;
	--logo-color: #4c4c4c;
	--disabled-border-color: #4c4c4c;
	--placeholder-color: #4c4c4c;
	--date-picker-input-color: #{$white-color};
	--disabled-button-text-color: #4c4c4c;
}
